# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
ENV/
env/
*.db
*.sqlite
*.sqlite3

# Vector DB
chroma_data/
.chroma/

# Node / React
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Logs & Environment
logs/
*.log
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
